{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <p>Welcome to your Symfony application home page!</p>
{% endblock %}
